<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
          <div class="masonry-gutter"></div>
          <div class="masonry-block">
            <div class="block block-image v1"><strong>show</strong></div>
              <div class="post-meta-top">
                <%= attachment_image_tag @post_image, :image, size: "360x200" %>
              </div>
            </div>
            <div class="post-content">
              <h2 class="post-title"><%= @post_image.shop_name %></h2>
              <ul class="meta-info-cells v4 float-wrapper">
                <li>
                  <i class="fa fa-user"></i>
                  By
                  <a href="#"></a>
                </li>
                <li>
                  <i class="fa fa-calendar"></i>
                  <%= @post_image.created_at.strftime('%Y/%m/%d') %>
                </li>
                <li>
                  <i class="fa fa-heart"></i>
                  <a href="#">202 いいね</a>
                </li>
                <li>
                  <i class="fa fa-comment"></i>
                  <a href="#comments"><%= @post_image.post_comments.count %></a>
                </li>
              </ul>
              <div class="post-content-inner mt-20">
              <p><%= @post_image.caption %></p>

              <div class="comment-list bt style-2" id="comments">
                  <div class="float-wrapper">
                    <h2><%= @post_image.post_comments.count %>件コメント</h2>
                  </div>
              </div>
              
              
              <ol>
                <% @post_image.post_comments.each do |post_comment| %>
                  <li class="comment">
                    <div class="comment-body bb">
                      <div class="comment-avatar">
                        <div class="abatar">
                          <%= image_tag('', style: "width: 60px; height: 60px;") %>
                        </div>
                      </div>
                      <div class="comment-text">
                        <div class="comment-author clearfix">
                          <a href="#" class="link-author"><%= post_comment.user.name %></a>
                          <span class="comment-meta">
                            <span class="comment-data"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
                          </span>
                        </div>
                        <div class="comment-entry"><%= post_comment.comment %></div>
                        <% if post_comment.user == current_user %>
                          <div>

                            <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete, class: 'btn btn-danger pull-right' %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ol>



              <h2>コメント</h2>

              <%= form_with model: [@post_image, @post_comment] do |f| %>
                <div class="row">
                  <div class="col-sm-12">
                    <%= f.text_area :comment, rows: '5', class: "form-control", placeholder: 'コメントをここに' %>
                  </div>
                </div>
              <%= f.submit "送信する", class: "btn btn-lg btn-primary mt-20 pull-right" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>